.errorForm
{
	width:700px;
	margin:1em auto;
}

.login-form
{
	width: 500px;
	margin: 1em auto;

}

.login-form fieldset {
	background: #f2f2f2;
}

.login-form legend{
	color: #fff;
	background: #f90887;
	font-family: sans-serif;
	padding: 0.2em 1em;
}

.login-form label {
	width: 6em;
	float: left;
	text-align: right;
	padding-top: 0.2em;
	display: block;
	margin-right:5px;
	color:black;
}

.login-form select, .depot-form textarea, .depot-form input {
	margin-left: 0.5em;
}

.login-form .submit{
	display:block;
	background-color:#60A494;
	color:white;
	border:none;
	padding:10px 40px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:140%;
	font-weight:bold;
	margin-left:230px;
	margin-top:20px;
	cursor:pointer;
	width:200px;
	
}

.login-form div{
	margin: 0.5em 0;
}


h1 {
        color: #226;
		text-transform: uppercase;
}

/* Styles for products/index */

h2 {
	
	font-family: Verdana, sans-serif;
	font-size: 130%;
	font-weight: bold;
}

.PleaseLogIn
{
	background-color:#F90887;
	font-size:150%;
	color:white;
	padding:5px 40px;
	width:400px;
}

.Email
{
	width:480px;
}

.Password
{
	width:480px;
}

.EmailLabel
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:120%;
}

.PasswordLabel
{
	
	font-family:Arial,Helvetica,sans-serif;
	font-size:120%;
}

#name
{
	height:30px;
	width:300px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:140%;
	font-weight:bold;
	padding-left:2px;
	
}

#password
{
	height:30px;
	width:300px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:140%;
	font-weight:bold;
	padding-left:2px;
}

div.bkdg-title 
{   
	background-color: #fff;
	line-height: 45px;
	vertical-align: center;
}

div.bkdg-title h1 { 

	font:  425% Verdana;
	font-weight: bold; 
	letter-spacing: -10px;
	height:30px;
	color:#7C0343;
	
}

#header {
	
	width: 790px;
	margin: 0 auto 35px;	
}

.showsMarquee
{
	margin:0 auto;
	text-align:center;
	background-color:#FFFF01;
}

#container{
	
	clear:both;
	overflow:hidden;
	width:100%;
	
}

.beta
{
	float: right;
	display: block;
	width: 5em;
	padding: 0.1em;
	line-height: 1.4;
	background-color: #60A49F;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	margin: 10px 5px 0px 0px;
	
}

.SignUp
{
	font-size:80%;
	text-align:right;
	width:430px;
}

.ResetPassword
{
	font-size:80%;
	text-align:right;
	width:430px;
}


