.show-bandlisting
{	
	font-size:20px;
	font-weight:bold;
	margin-top:10px;
}

.band
{
	width:440px;
	color:black;
	font-size:20px;
	font-weight:bold;
}

.band a
{
	color:black;
}

.band:first-child
{
	background-color:#FFFF01;
	font-size:130%;
	text-decoration:underline;
	padding:6px;
	padding-left:3px;
	padding-top:3px;
}

.attendingtheshow
{
	background-color:#F90887;
	font-size:130%;
	font-weight:bold;
}

.attendingtheshow a
{
	color:white;
}

.notattendingtheshow
{
	color:black;
	font-size:130%;
	font-weight:bold;
}

.notattendingtheshow a
{
	color:black;
	text-decoration:none;
}

.attendcommentcontainer
{
	width:100%;
	float:left;
}

.controlContainer
{
	margin-top:30px;
	width:450px;
	float:left;
}

.EditFlagContainer
{
	font-size:80%;
	color:#888888;
	width:70px;
	margin-top:20px;
        margin-right:3px;
}

.EditFlagContainer a
{
        font-family:Arial,Liberation Sans,DejaVu Sans,sans-serif;
	color:#888888;
	padding:0 3px 2px;
}

.EditFlagContainer a:hover
{
  background-color:#777777;
  color:#FFFFFF;
}

.PostedContainer
{
	float:right;
}

.UsersAttendingContainer
{
	float:left;
}

.EditedContainer
{
	float:right;
	margin-right:10px;
}

.postedTime
{
	font-size:70%;
}

.band a:hover
{
	text-decoration:underline;
}

#show-images {
	float:left;
	margin-top:10px;
	margin-left: 20px;
}

#show-images img
{
	border: 0px;
}

#showVenueName
{
	font-size:130%;
}

.show-address
{
	margin-top: 7px;
	background-color: #F2F2F2;
	padding: 7px 7px 7px 7px;
	width:440px;
}

#showinformation
{
	float: left;
	margin-right:10px;
	width:450px;
	margin-bottom:20px;
}

.show-address a
{
	color: #7C0343;
}

.price-time
{
	margin-top:6px;
}

.show-short-description
{
	margin-top:10px;
	padding:3px;
}

.usercomment
{
	font-size:100%;
	margin-top:20px;
	width:500px;
	margin-bottom:5px;
}

#somethingToSay
{
	background-color:#FFFF01;
	color:black;
	font-size:140%;
	font-weight:bold;
	width:350px;
	padding-left:15px;
	margin-top:10px;
}

.commentInformation
{
	width:625px;
}

.commentCreated
{
	width:150px;
	font-size:90%;
	float:right;
	text-align:left;
}

.utility
{
	float:left;
	width:625px;
}

#mapit
{
	font-size: 60%;
	padding:3px;
}

.venueAddress
{
	margin-left:2px;
}

.venueCityState
{
	margin-left:2px;
	margin-bottom:5px;
}

.gravitar
{
	float:left;
}

.gravitar a
{
	border:0px;
}

.gravitar img
{
	border:0px;
}

.usernameLink
{
	float:left;
	margin-left:10px;
	width:70px;
}

.usernameLinkUsersAttending
{
	float:left;
	margin-left:10px;
	width:60px;
}

.usernameLinkFriendAttending
{
	float:left;
	width:85px;
	text-align:center;
}

.usernamePoints
{
	float:left;
	margin-left:10px;
	width:50px;
}

.usernamePointsUsersAttending
{
	float:left;
	margin-left:10px;
	width:50px;
}

.usernamePointsFriendAttending
{
	float:left;
	text-align:center;
	width:85px;
}

.FriendsAttending
{
	color:#808185;
	font-size:350%;
	text-align:left;
	margin-top:-10px;
	margin-bottom:-10px;
	margin-left:5px;
}

.NonFriendsAttending
{
	color:#808185;
	font-size:120%;
	text-align:left;
	margin-top:-10px;
	margin-bottom:-10px;
	margin-left:5px;
}

.commentUserInfo
{
	width:150px;
	float:right;
	background-color:#F2F2F2;
}

.singleUserOfUsersAttending
{
	width:125px;
	float:right;
	margin-left:10px;
	margin-top:10px;
	background-color:#F2F2F2;
}
 
.singleUserOfUsersAttending a
{
	font-size:70%;
}

.singleFriendAttending
{
	width:90px;
	float:right;
	margin-left:10px;
	margin-top:10px;
	padding:5px;
	background-color:#F2F2F2;
}

.singleFriendAttending a
{
	font-size:80%;
}
.commentUserInfo a
{
	font-size:80%;
}

.commentControls
{
	float:left;
	width:103px;
	padding:3px;
	text-align:center;
	margin-left:10px;
	background-color:#D4D5D7;
}

.commentControls a
{
	text-decoration:underline;
	color:black;
	font-size:80%;
}

.singleComment
{
	width:600px;
}

.usercomment
{
	padding-left:10px;
	padding-right:10px;
	float:left;
}

.usercomment p
{
	font-family:'Lucida Grande', sans-serif;
	line-height:1.4em;
	font-size:18px;
}

.wmd-preview p
{
	font-family:'Lucida Grande', sans-serif;
	line-height:1.4em;
	font-size:18px;
}

.price-time span
{
	background-color:#FFFF01; 
	color:black;
	font-size:140%;
	padding-left:6px;
}



.price-time a
{
	color:black;
	text-decoration:underline;
	
}

#price
{
	padding-left:0px;
}

#allages
{
	padding-right:5px;
	padding-left:0px;
}

.showcommentcontainer {
	float:left;
	width:86px;
}

#userIconContainer
{
	margin-top:10px;
	margin-left:10px;
	margin-bottom:20px;
	float:left;
	width:680px;
}

.singleUser
{
	float:left;
	padding: 5px 5px;
	width:80px;
}

.singleUserIcon
{
	text-align:center;
}

.singleUserName
{
	text-align:center;
	margin-top:2px;	
}

.singleUserName a
{
	font-weight:300;
	font-size:80%;
	background-color:#F2F2F2;
	padding:0px 5px;
}

.singleUser img
{
	border: 0px;
}

.post_a_comment {
	
	font-family:"museo-1","museo-2", serif;
	background-color:#60A49F;
	color:#FFFFFF;
	float:left;
	font-size:36px;
	font-weight:bold;
	padding:14px 16px;
	margin-bottom:10px;
	border:0px;
	cursor:pointer;
}

.post_a_comment:hover {
	
	color:white;
	text-decoration:none;

}

.flagShow {
    background-color:#F90887;
    color:white;
    cursor:pointer;
    display: none;
    padding:20px;
    position:absolute;
    z-index:1;
    font-size: 130%;
    text-align:center;
    border:10px solid #FFFF01;
}

.flagShow h2 {
    font-family:Trebuchet MS,Helvetica,sans-serif;
    font-size:140%;
    font-weight:bold;
    margin-bottom:7px;
}

.flagShow a{
	color:white;
	text-decoration:underline;
}

#flagCancel
{
	display:block;
        font-family:Trebuchet MS,Helvetica,sans-serif;
	background-color:#60A49F;
	cursor:pointer;
	color:white;
	float:left;
	padding:5px;
        font-size:130%;
	font-weight:700;
	margin-left:30px;
}

#flagCancel:hover
{
  text-decoration:underline;
}

#flagShow:hover
{
  text-decoration:underline;
}

#flagShow
{
	display:block;
        font-family:Trebuchet MS,Helvetica,sans-serif;
	background-color:#60A49F;
	color:white;
	cursor:pointer;
        font-size:130%;
	float:left;
	margin-left:30px;
	padding:5px;
	font-weight:700;
}



