

.Bands
{
	display:none;
}

.BandsComplete
{
	
}

.AddABand
{
	/*background: url('/images/AddABand.png') no-repeat center left;*/
	margin-left:15px;
	vertical-align:center;
	font-size:120%;
	background-color:#FFFF01;
	
}

.AddABand a
{
	color:black;
	text-decoration:underline;
	padding:2px;
	margin-top:2px;
}

.SpecifyAdvance
{
	font-size:60%;
	margin-left:10px;
}


#AgeContainer
{
	width:715px;
	padding-left:6px;
	padding-bottom:6px;
	padding-top:3px;
	
}

#BandsContainer
{
	width:715px;
	padding-left:6px;
	padding-bottom:6px;
	padding-top:3px;
	
}


.Caption
{
	float:right;
	margin-right:10px;
	color:white;
	font-size:150%;
}

.CaptionSmall
{
	float:right;
	margin-right:10px;
	color:white;
	font-size:100%;
}

.CaptionDoors
{
	float:right;
	margin-right:10px;
	color:white;
	font-size:130%;
}

.CaptionVenue
{
	float:right;
	margin-right:10px;
	color:white;
	font-size:130%;
}

.CaptionAge
{
	float:right;
	margin-right:10px;
	color:white;
	font-size:130%;
}

#DoorContainer
{
	width:715px;
	padding-left:6px;
	padding-bottom:6px;
	padding-top:3px;
}

#VenueContainer
{
	width:715px;
	padding-left:6px;
	padding-bottom:6px;
	padding-top:3px;
}

#VenueErrorContainer
{
	width:715px;
	font-size:20px;
	font-weight:bold;
	padding-left:6px;
	padding-bottom:6px;
	background-color:#FFFF01;
	color:black;
	display:none;
	padding-top:3px;
}

.DoorTicketPrice
{
	margin-top:10px;
	display:none;
}

.AdvanceTicketPrice
{
	display:none;
}

#VenueErrorContainer a
{
	color:white;
	font-size:130%;
	text-decoration:underline;
}

#errorExplanation a
{
	color:white;
	font-size:130%;
	text-decoration:underline;
}

#PriceContainer
{
	width:715px;
	padding-left:6px;
	padding-bottom:6px;
	padding-top:3px;
}

#descriptionLabel
{
	padding:5px;
	width:100%;
}

#show_price
{
	margin-left:2px;
}

#show_advanceprice
{
	margin-left:2px;
}

#show_time
{
	width:217px;
}

#DateContainer
{
	width:715px;
	padding-left:6px;
	padding-bottom:6px;
	padding-top:3px;
}

.post_a_show {
background-color:#60A49F;
color:#FFFFFF;
float:left;
font-size:24px;
font-weight:bold;
padding:14px 16px;
margin-bottom:10px;
cursor:pointer;
border: 0px;
font-size:240%;
font-family:"museo-1", "museo-2", serif;
}

