.show-bandlisting
{	
	font-size:20px;
	font-weight:bold;
	margin-top:10px;
}

.band
{
	width:440px;
	color:black;
	font-size:20px;
	font-weight:bold;
}

.band a
{
	color:black;
}

.band:first-child
{
	background-color:#FFFF01;
	font-size:130%;
	text-decoration:underline;
	padding:6px;
	padding-left:3px;
	padding-top:3px;
}

.attendingtheshow
{
	background-color:#F90887;
	font-size:130%;
	font-weight:bold;
}

.attendingtheshow a
{
	color:white;
}

.notattendingtheshow
{
	color:black;
	font-size:130%;
	font-weight:bold;
}

.notattendingtheshow a
{
	color:black;
	text-decoration:none;
}

.attendcommentcontainer
{
	width:100%;
	float:left;
}

.controlContainer
{
	margin-top:30px;
	width:450px;
	float:left;
}

.EditFlagContainer
{
	color:black;
	font-size:80%;
	width:70px;
	margin-top:20px;
}

.EditFlagContainer a
{
	color:black;
	text-decoration:underline;
	padding:3px;
}

.PostedContainer
{
	float:right;
}

.EditedContainer
{
	float:right;
	margin-right:10px;
}

.postedTime
{
	font-size:70%;
}

.band a:hover
{
	text-decoration:underline;
}

#show-images {
	float:left;
	margin-top:10px;
	margin-left: 20px;
}

#showVenueName
{
	font-size:130%;
}

.show-address
{
	margin-top: 7px;
	background-color: #F2F2F2;
	padding: 7px 7px 7px 7px;
	width:440px;
}

#showinformation
{
	float: left;
	margin-right:10px;
	width:450px;
}

.show-address a
{
	color: #7C0343;
}

.price-time
{
	margin-top:6px;
}

.usercomment
{
	font-size:100%;
	margin-top:20px;
	width:500px;
	margin-bottom:5px;
}

#somethingToSay
{
	background-color:#FFFF01;
	color:black;
	font-size:140%;
	font-weight:bold;
	width:350px;
	padding-left:15px;
	margin-top:10px;
}

.commentInformation
{
	width:625px;
}

.commentCreated
{
	width:150px;
	font-size:90%;
	float:right;
	text-align:left;
}

.utility
{
	float:left;
	width:625px;
}

#mapit
{
	font-size: 60%;
	padding:3px;
}

.venueAddress
{
	margin-left:2px;
}

.venueCityState
{
	margin-left:2px;
	margin-bottom:5px;
}

.gravitar
{
	float:left;
}

.usernameLink
{
	float:left;
	margin-left:10px;
	width:50px;
}

.usernamePoints
{
	float:left;
	margin-left:10px;
	width:50px;
}

.commentUserInfo
{
	width:150px;
	float:right;
	background-color:#F2F2F2;
}

.commentUserInfo a
{
	font-size:90%;
}

.singleComment
{
	width:600px;
}

.usercomment
{
	padding-left:10px;
	padding-right:10px;
	float:left;
}

.price-time span
{
	background-color:#FFFF01; 
	color:black;
	font-size:140%;
	padding-left:6px;
}



.price-time a
{
	color:black;
	text-decoration:underline;
	
}

#price
{
	padding-left:0px;
}

#allages
{
	padding-right:5px;
	padding-left:0px;
}

.showcommentcontainer {
	float:left;
	width:86px;
}

#userIconContainer
{
	margin-top:10px;
	margin-left:30px;
	width:550px;
	background-color:#F7F7F7;
}

.singleUser
{
	float:left;
	padding:5px;
}

.singleUser img
{
	border: 0px;
}

.post_a_comment {
background-color:#60A49F;
color:#FFFFFF;
float:left;
font-size:36px;
font-weight:bold;
padding:14px 16px;
margin-bottom:10px;
cursor:pointer;
}

.post_a_comment:hover {
	
	color:white;
	text-decoration:none;

}



