.errorForm
{
	width:700px;
	margin:1em auto;
}

.newUserForm
{
	width: 500px;
	margin: 1em auto;

}

.newUserForm fieldset {
	background: #f2f2f2;
}

.newUserForm legend{
	color: #fff;
	background: #f90887;
	font-family: sans-serif;
	padding: 0.2em 1em;
}

.newUserForm label {
	width: 6em;
	float: left;
	text-align: right;
	display: block;
	margin-right:5px;
	color:black;
}

.newUserForm select, .depot-form textarea, .depot-form input {
	margin-left: 0.5em;
}

.newUserForm .submit{
	display:block;
	background-color:#60A494;
	color:white;
	border:none;
	padding:10px 40px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:140%;
	font-weight:bold;
	margin-left:230px;
	margin-top:20px;
	cursor:pointer;
	width:200px;
	
}

.newUserForm div{
	margin: 0.5em 0;
}


h1 {
        color: #226;
		text-transform: uppercase;
}

/* Styles for products/index */

h2 {
	
	font-family: Verdana, sans-serif;
	font-size: 130%;
	font-weight: bold;
}

.EnterUserDetails
{
	background-color:#F90887;
	font-size:150%;
	color:white;
	padding:5px 40px;
	width:400px;
}

.Username
{
	width:480px;
}

.Email
{
	width:480px;
}

.Password
{
	width:480px;
}

.UsernameLabel
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:120%;
}

.EmailLabel
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:120%;
}

.PasswordLabel
{
	
	font-family:Arial,Helvetica,sans-serif;
	font-size:120%;
}

#name
{
	height:30px;
	width:300px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:140%;
	font-weight:bold;
	padding-left:2px;
	
}

#password
{
	height:30px;
	width:300px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:140%;
	font-weight:bold;
	padding-left:2px;
}

div.bkdg-title 
{   
	background-color: #fff;
	line-height: 45px;
	vertical-align: center;
}

div.bkdg-title h1 { 

	font:  425% Verdana;
	font-weight: bold; 
	letter-spacing: -10px;
	height:30px;
	color:#7C0343;
	
}

#header {
	
	width: 790px;
	margin: 0 auto 35px;	
}

.showsMarquee
{
	margin:0 auto;
	text-align:center;
	background-color:#FFFF01;
}

#container{
	
	clear:both;
	overflow:hidden;
	width:100%;
	
}

.beta
{
	float: right;
	display: block;
	width: 5em;
	padding: 0.1em;
	line-height: 1.4;
	background-color: #60A49F;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	margin: 10px 5px 0px 0px;
	
}

.Login
{
	font-size:80%;
	text-align:right;
	width:425px;
}

.ResetPassword
{
	font-size:80%;
	text-align:right;
	width:430px;
}

.optionsMarquee
{
	padding-left:400px;
	margin:0 auto;
	text-align:center;
	background-color:#F90887;
}

.optionsMarquee a
{
	font-size:100%;
	color:black;
	background-color:white;
	text-decoration:underline;
	padding:0px 8px;
	font-family:Arial,Helvetica,sans-serif;
}

.userContainer
{
	margin-top:10px;
}

.userImage
{
	padding:10px;
	width:250px;
	float:left;
	margin-left:30px;
	text-align:center;
}

.userImage a
{
	font-family:Arial,Helvetica,sans-serif;
	text-decoration:underline;
	color:black;
}

.userInformation
{
	margin-left:20px;
	float:left;
	width:360px;
	font-family:Arial,Helvetica,sans-serif;
}

.userPoints
{
	color:#808185;
	font-size:350%;
	font-weight:bold;
	text-align:center;
	width:200px;
	padding:60px;
}

.userPointsWords
{
	color:#808185;
	font-size:200%;
	font-weight:bold;
	text-align:center;
	width:200px;
}

.userCategories
{
	float:left;
}

.userAnswers
{
	float:left;
	margin-left:25px;
	width:230px;
}

.userCategory
{
	margin-top:8px;
	font-size:90%;
}

.userAnswer
{
	margin-top:8px;
	font-size:90%;
}

.userAnswer[answer=first]
{
	background-color:#FFFF01;
	font-weight:bold;
}

.userControls
{
	margin-top:60px;
	margin-left:0px;
	float:left;
	width:200px;
}

.userControls a
{
	font-family:Arial,Helvetica,sans-serif;
	text-decoration:underline;
	color:black;
}


