.venueContent
{
	width: 715px;
	margin-top:10px;
	margin-bottom:30px;
}

.venueMap
{
	padding:10px;
	background-color:#F2F2F2;
	margin-left:10px;
	float:left;
}

.venueInformation
{
	float:left;
	width:340px;
	margin-left:20px;
}

#venueName
{
	font-size:130%;
	font-weight:bold;
	background-color:#FFFF01;
	padding: 3px 10px;
	width:300px;
}

#venueAddress
{
	padding: 3px 10px;
}

#venueAddress a
{
	text-decoration:underline;
	font-size:80%;
	color:black;
}

#controls
{
	padding: 3px 10px;
	margin-top:170px;
}

#controls a
{
	text-decoration:underline;
	font-size:80%;
	color:black;
}

#venueWebsite
{
	padding: 3px 10px;
	margin-top:5px;
}

#venueWebsite a
{
	text-decoration:underline;
	font-size:80%;
	color:black;
}

#venuePhoneNumber
{
	padding: 3px 10px;
}

#venuePhoneNumber a
{
	text-decoration:underline;
	font-size:80%;
	color:black;
}