	<div class='band'>
		
		<div id = "subheader">
			<h3><%= capitalize_first_letter_of_each_word(@band.band_name) %></h3>
		</div>
	
	   <div class='bandContent'>
			<% if @band.has_pictures? then%>
				<% randomBandPicture = generate_one_random_band_picture(@band) %>
				<img src = "<%= @band.bandpictures.at(randomBandPicture).extralarge %>">
			<% end %>
		
		</div>
	</div>
	
	
