<div id="errorExplanation" class="errorExplanation">
	<h2><%= @show.errors.size %> errors prohibited this show from being saved</h2>
	<p>There were problems with the following fields:</p>
	<ul>
		<% @show.errors.each_full { |msg| %>  <li><%= msg %> </li> <% } %> 
	</ul>
</div>