<% numberOfFriendsString = number_of_friends_attending(show, current_user) %>
<% if numberOfFriendsString != "" %>
	<div class='NumberOfFriendsAttending'><%= numberOfFriendsString %></div>
<% end %>
<% if @youAreAtteding then %>
	<div class='attendingsymbol' title='attending!'>Attending</div>
<% end %>
