<% content_for :title do %>  <title>BKDG: About </title> <% end %>
<%= stylesheet_link_tag 'about' %>
<div id = "mainbar-full">
	
	<div id = "showsHeader">
		<b><h3>About BKDG BKDG BKDG BKDG BKDG BKDG BKDG BKDG BKDG</h3></b>
	</div>
	
	<div id='AboutMainImageContainer'>
		<%= image_tag("catzz.jpg")%>
	</div>
	
	<div id='AboutMainInfoContainer'>
		BADKIDSDANCEGOOD was created by <span id='chrisreath'><a href='http://codingwithoutcomments.com'>Chris Reath</a></span> who was tired of his friendzzz going to myspace to look up show informationsssss. 
	</div>
	
	<div id='AboutMainInfoContainer'>
		BADKIDSDANCEGOOD was layouted&colored by <span id='chrisreath'><a href='http://jtrav.net'>JTrav</a></span> who likes when people give him work.
	</div>
		
</div>