var $j = jQuery.noConflict();

var ticketLink  = "<%= @show.ticket_link %>";

$j(document).ready(function()
{
	var fullTicketLink = "<div class='show-ticket-link'><a target=”_blank”>[Buy Tickets]</a></div>";
	$j(fullTicketLink).insertAfter(".price-time");
	$j(".show-ticket-link a").attr("href", ticketLink + '');
	$j(".ticket-link").remove();
});