<% content_for :title do %>  <title>BKDG: Frequently Asked Questions </title> <% end %>
<%= stylesheet_link_tag 'faq' %>
<div id = "mainbar-full">
	
	<div id = "showsHeader">
		<b><h3>BKDG FAQ</h3></b>
	</div>
	
	<div id='question'>What's up with the number next to my username?</div>
	<div id='answer'>
		
		<p>The number next to your username is the amount of reputation (rep) you have managed to earn on bkdg</p>
		
	</div>
	<div id='question'>What is reputation?</div>
	<div id='answer'>
		<p>First things first.  <span class='boldness'>You don't need reputation and you will never need reputation to look up show information, post shows, or add venues on BKDG.</span></p><br />
		
		<p>99% of people who come to BKDG most likely just want to look up when doors are for the upcoming jj/xx show at Whirly Ball that weekend.  They come to the site, get the show information, then roll on down the road.</p> <br />
		
		<p>But a slim amount of users ( < 0.0000001%) want to help run BKDG.  If this is you, I will quote the late M.C. Hammer to express my enthusiasm:<br/><br/>
		2 Legit<br/>
		2 Legit 2 Quit<br />
		Hey, Hay.<br /><br /></p>
		
		<p><span class='boldness'>BKDG is completely run by YOU the users.</span><br /><br /></p>
		
		<p>If you want to help run the site, you'll need reputation.  <span class='boldness'>Reputation is a (semi) rough measurement of how much the community trusts you</span>.  Or thinks you have good taste.  Or both.  What I'm saying is we don't just hand out reputation to just anyone.  It is earned through hard work and tears and by posting shows.</p><br />
		
		<p>Here is how it works:  If you <span class='boldness'>post a show</span> and another user decides to <span class='boldness'>attend the show you post</span>, you'll get <span class='boldness'>5</span> points towards your reputation.  That simple.  Also, while we are beta testing, if you <span class='boldness'>post a show</span> you'll get <span class='boldness'>2</span> reputation points.</p><br />
		
		<p>Once you start racking up reputation, BKDG will allow you to do the following amazing things:</p><br />
		
		<table>
			<tr>
				<td class='points'>15</td> <td>Flag Posted Shows Offensive/Duplicate</td>
			</tr>
			<tr>
				<td class='points'>50</td> <td>Edit Information about a Band</td>
			</tr>
			<tr>
				<td class='points'>100</td> <td>See how many times a show has been viewed</td>
			</tr>
			<tr>
				<td class='points'>200</td> <td>Edit Information about a Posted Show</td>
			</tr>
			<tr>
				<td class='points'>1000</td> <td>Edit Information About A Venue</td>
			</tr>
			<tr>
				<td class='points'>1000</td> <td>See how many times a Posted Show was Flagged Offensive/Duplicate</td>
			</tr>
			<tr>
				<td class='points'>5000</td> <td>Delete a Posted Show</td>
			</tr>
			<tr>
				<td class='points'>10000</td> <td>Delete a Venue</td>
			</tr>
		</table><br />
		
		<p>Note:  During a short time in Beta, you will be allowed to do all the above things without any reputation as I test the functionality of the site.  However, this probably won't last long.  Enjoy!</p>
		
	</div>
	
	<div id='question'>What do I do about Duplicate Shows?</div>
	<div id='answer'>
		<p>If you find that someone has posted a Duplicate show, you can "<b>flag</b>" the show duplicate on the show's detail page.  If two people flag the same show, the show will be removed.</p>
	</div>
	
</div>